NAME=
EMAIL=
DOMAIN=
# get with `openssl rand -base64 32 | head -c 32`
APP_KEY=

# get with `openssl rand -hex 32`
MYSQL_PASSWORD=

# get with `docker inspect -f '{{ json .IPAM.Config }}' net | jq -r .[].Subnet`
TRUSTED_PROXIES=

FF_PATH=
# where to store borg backup repo
BORG_REPO=
# see https://borgbackup.readthedocs.io/en/stable/internals/data-structures.html?highlight=compression#compression
BORG_COMPRESSION=zstd,10
# default: run backup every day at 03:00
BACKUP_CRON="0 3 * * *"
# see: https://borgbackup.readthedocs.io/en/stable/usage/prune.html
PRUNE_CFG="--keep-last 1 --keep-daily 4 --keep-monthly 3 --keep-yearly 1"

