# where to store borg backup repos
NC_REPO=
TD_REPO=
GIT_REPO=
TEMP_PATH=

BORG_SERVER=
PORT=
# passphrase of key file
PASSPHRASE=

BORG_COMPRESSION=zstd,10
PRUNE_CFG="--keep-last 1 --keep-daily 4 --keep-monthly 3 --keep-yearly 1"
# default: run backup every day at 04:00
CRON_TIME="0 4 * * *"

