# from https://github.com/nginx-proxy/acme-companion/blob/main/docs/Docker-Compose.md
services:
    NginxProxy:
        image: nginxproxy/nginx-proxy:latest
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - nginx_config:/etc/nginx/conf.d
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
            - certs:/etc/nginx/certs:ro
            - ./my_proxy.conf:/etc/nginx/conf.d/my_proxy.conf:ro
            - "{{ docker_socket }}:/tmp/docker.sock:ro"
        restart: "unless-stopped"
        networks: ["net"]

{% if docker_nginx_ssl %}
    AcmeCompanion:
        image: nginxproxy/acme-companion:latest
        environment:
            DEFAULT_EMAIL: "{{ docker_nginx_email }}"
        volumes_from:
            - NginxProxy
        volumes:
            - certs:/etc/nginx/certs:rw
            - acme:/etc/acme.sh
            - "{{ docker_socket }}:/var/run/docker.sock:ro"
        restart: "unless-stopped"
        networks: ["net"]
{% endif %}

volumes:
    nginx_config:
        external: true
    vhost:
    html:
    certs:
    acme:

# used to connect to frontend
networks:
    net:
        external: true

