# from https://github.com/nginx-proxy/acme-companion/blob/main/docs/Docker-Compose.md
services:
    NginxProxy:
        # https://hub.docker.com/r/nginxproxy/nginx-proxy/tags
        image: nginxproxy/nginx-proxy:1.6.4
        container_name: NginxProxy
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - nginx_config:/etc/nginx/conf.d
            - vhost:/etc/nginx/vhost.d
            - html:/usr/share/nginx/html
            - certs:/etc/nginx/certs:ro
            - ./my_proxy.conf:/etc/nginx/conf.d/my_proxy.conf:ro
            - "{{ docker_socket }}:/tmp/docker.sock:ro"
        restart: "unless-stopped"
        networks:
            # the network used to connect
            - "net"

{% if docker_nginx_ssl %}
    AcmeCompanion:
        # https://hub.docker.com/r/nginxproxy/acme-companion/tags
        image: nginxproxy/acme-companion:2.5.1
        environment:
            DEFAULT_EMAIL: "{{ docker_nginx_email }}"
        volumes_from:
            - NginxProxy
        volumes:
            - certs:/etc/nginx/certs:rw
            - acme:/etc/acme.sh
            - "{{ docker_socket }}:/var/run/docker.sock:ro"
        restart: "unless-stopped"
        networks: ["net"]
{% endif %}

volumes:
    nginx_config:
        external: true
    vhost:
    html:
    certs:
    acme:

networks:
    # used to connect nginx to frontend containers (like nextcloud)
    net:
        external: true
