# GITHUB_USERNAME=
# GITHUB_PASSWORD=

# where to store borg backup repo
BACKUP_REPO=
# where to clone git repos into
BACKUP_TEMP=
# read only volume; used to load other git repos
BACKUP_CONFIGS=./configs

