services:
    SSHJumper:
        image: debian
        volumes:
            - "{{ docker_ssh_jumper_dir }}/known_hosts:/root/.ssh/known_hosts"
            - "{{ docker_ssh_jumper_dir }}/ssh_jump_key:/root/.ssh/ssh_jump_key"
            - "{{ docker_ssh_jumper_dir }}/entrypoint.sh:/root/entrypoint.sh:ro"
            - "{{ docker_ssh_jumper_dir }}/data:/etc/ssh"

        entrypoint: ["/root/entrypoint.sh"]
        networks: ["net"]
        restart: "unless-stopped"

networks:
    net:
        external: true
